{
  "presets": [
    [
      "@babel/preset-env", {
        "loose": true
      }
    ]
  ],

  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ]
}
